
    *{
    margin: 0;
    z-index: auto;}
    
    html{
        width: 100%;
    }
    
    
    
body {
    margin: 0;
    padding: 0;
  }

.head
{
    display: flex;
    flex-direction: column;
    width: 100%;
    position:fixed ;
    margin-top:130px;
    background-color: white;
    z-index: 2;
}

.opleft
{
    display: flex;
    flex-direction: row;
}

.opright
{
    display: flex;
    flex-direction: row;
    padding-right: 25px;
}



  .logo-centrato {
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    padding-top: 10px; 
    margin-top: 2px;
  }

  #logout
  {
    color: rgb(0, 117, 227);
    padding-left: 3px;
  }
  
  #Logo {
    width: 180px;
    height: auto; 
  }
    .Intestazione
    {
        display: flex;
        justify-content: center;
        font-family: 'Montserrat', sans-serif;
        flex-direction: row;
        align-items: center;
        font-size: small;
        font-weight: lighter;
        margin-top: -3px;
        padding-bottom: 8px;
        margin-bottom: 8px;
        width: 100%;
    }
    

     
    a{
        color: black;
        text-decoration: none;
    
    }
    
    .menu
    {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .icona:hover
    {
        opacity: 60%;
    }
    
    .link
    {
        padding: 5px;
    }
    
    .op:hover
    {
        color: rgb(0, 117, 227);
    }
    
    .icona
    {
        width: 18px;
        padding: 3px 2px 3px 20px;
        margin: 0px 7px 0px 0px;
    }
    
    .puntino
    {
        width: 4px;
        height: 4px;
        padding: 6px 10px 3px 10px ;
    }
    
    .operazioni
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin: 18px 10px 18px 15px;
        position: relative;
    }
    
    
    .opzioni:hover
    {
        color: rgb(0, 117, 227);
    }
    
    .barra
    {
        display: flex;
        justify-content: space-between;
        font-family: 'Montserrat', sans-serif;
        align-items: center;
        font-size: 14px;
        font-weight: 600;
        border-bottom: 0.5px solid #dad9d9;
        border-top: 0.5px solid #dad9d9;
        padding-bottom: 11px;
        padding-top: 11px;
        width: 100%;
      
    }

.ciao
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    background-image: url(img/ciaouser.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    width: 100%;
    height: 480px;
}

.ciao #user
{
    font-size: 30px;
    font-weight: bolder;
    color: white;
}
    
    .categorie
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
    
    }
    
    .link:hover
    {
        color: rgb(0, 117, 227);
    }
    
    .categorie .cat
    {
        padding: 10px 25px 10px 25px;
    }
    
    
    .cerca
    {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid transparent;
        background-color: rgb(235, 246, 252);
        border-radius: 100px;
        width: 160px;
        height: 40px;
    }
    
    .divisore 
    {
        display: inline-block;
        width: 3px;
        height: 20px;
        background-color: #a5a2a2;
        margin: 0 10px;
        vertical-align: middle;
    }

    .hamburger-menu
    {
        display: none;
    }

    @media (max-width: 1000px) {

        .Intestazione {
            position: relative;
            padding: 10px 0;
            margin-left: 0;
        }
    
        .hamburger-menu {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 24px;
            height: 18px;
            margin-left: 15px;
            margin-top: 15px;
        }
    
        .hamburger-menu div{
            height: 2px;
            background: rgb(0, 117, 227);
            width: 100%;
        }

        .hamburger-menu:hover
        {
            opacity: 60%;
        }
    
        .logo-centrato {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            width: 144px;
        }
    
    
        .menu {
            padding: 0 5px;
        }

        .Intestazione {
            border-bottom: none;

        }
    
        .puntino, .cat, .divisore, .op, .link {
            display: none;
        }
    
        .cerca {
            width: 100%;
        }
    
        .menu .icona {
            padding: 3px 2px 3px 2px;
            width: 16px;
            margin: 3px;
        }

        .Intestazione
        {
            border-bottom: none;
        }

    

        .puntino, .cat, .divisore, .op, .link
        {
            display: none;
        }

        .cerca
        {
            width: 100%;
        }

        .menu .icona
        {
            padding: 3px 2px 3px 2px;
            width: 16px;
            margin: 3px;
            
        }

        #Logo
        {
            margin-top: -25px;
        }
    }

.linksconti 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    background-image: url(img/peluche.png);
    background-position: center;
    background-size: cover;
    margin-top: 98px;
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
}

.sconto
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 17px;
    border: 1px solid transparent;
    background-color: rgb(235, 246, 252);
    width: 130px;
    height: 25px;
    margin-left: 60px;
    margin-bottom: 6px;
}

.pasqua
{
    font-family: 'Montserrat', Helvetica, sans-serif;
    margin-left: 60px;
    font-size: 34px;
    font-weight: 300;
   
}

.scorte
{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: 400;
    margin-left: 60px;
    margin-top: 6px;

}

.approfitta
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 15px;
    color: white;
    border: 1px solid transparent;
    background-color: rgb(34, 34, 34);
    width: 180px;
    height: 60px;
    border-radius: 4px;
    margin-left: 60px;
}


.linkstitch
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    background-image: url(img/stitch.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    width: 100%;
    height: 600px;
}

.linkstitch .sconto
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 17px;
    border: 1px solid transparent;
    background-color: rgb(235, 246, 252);
    width: 300px;
    height: 25px;
    margin-left: 60px;
}


.linkspiaggia
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    background-image: url(img/bambina_al_mare.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    width: 100%;
    height: 600px;
}


.approfitta:hover 
{
    
    background-color: rgb(72, 72, 72);
    
}

h2
{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    margin-top: 40px;
    margin-bottom: 40px;
    font-weight: 400;
}


body h2
{
    text-align: center;
}

#flexcontainer
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    
}

#flexcontainer .immagine
{
    width: 80%;
}



.foto1
{
    display: flex;
    align-items: center;
    flex-direction: column;
    

 
}

.foto2
{
    display: flex;
    align-items: center;
    flex-direction: column;
    
    
}

.scritta
{
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 15px;

}

.scritta2
{
    
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
    font-weight: 500;
    color:rgb(0, 117, 227);
    margin-bottom: 30px;
}

.articoli .scritta2 :hover
{
    text-decoration: underline;
}

@media screen and (max-width: 1000px) {
    .linksconti
    {
        align-items: center;
        justify-content: flex-end;
        padding-bottom: 30px;
    }

    .linkspiaggia
    {
        align-items: center;
        justify-content: flex-end;
        padding-bottom: 30px;
    }

    .linkstitch
    {
        align-items: center;
        justify-content: flex-end;
        padding-bottom: 30px;
    }

    .moana
    {
        align-items: center;
        justify-content: flex-end;
        
    }

    .pasqua, .sconto, .approfitta, .scorte, .scritta, .scritta2, .tazze, .abbracci
    {
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-left: 0;
    }

    
  }

  
  

.tazze
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    background-image: url(img/tazza.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    width: 80%;
    height: 300px;
    margin: 0 auto;
    padding-bottom: 30px;
}

.abbracci
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    background-image: url(img/grandi_e_piccini.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    width: 80%;
    height: 300px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-bottom: 30px;
}

.moana
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    background-image: url(img/bambina_oceania.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    width: 100%;
    margin-top: 240px;
    height: 600px;
    border-bottom: 5px solid #222;
}

.moana .sconto
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 17px;
    border: 1px solid transparent;
    background-color: rgb(235, 246, 252);
    width: 300px;
    height: 25px;
    margin-left: 60px;
    
}

#oceania
{
    width: 200px;
    height: 60px;
    margin-left: 60px;
}

.footer 
{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
    width: 90%;
    margin: 50px auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    border-top: 1px solid #ccc;
    padding-top: 20px;
}
  

  
.newsletter .news 
{
    margin-bottom: 10px;
}
  
.iscrizione-foto 
{
    display: flex;
    gap: 20px;
    align-items: center;
}
  
.iscriviti-box 
{
    background-color: rgb(0, 117, 227);
    padding: 10px 16px;
    border-radius: 6px;
    font-weight: bold;
    color: white;
    text-align: center;
}
  
.iscriviti-box:hover 
{
    background-color: rgb(79, 155, 227);
}
  
.linkfoto .fotolink
{
    font-size: 12px;
    color: #333;
    text-decoration: underline;
}

.fotolink:hover
{
    color: rgb(0, 117, 227);
}
  

.linkfooter .vari 
{
    color: #333;
    text-decoration: none;
    margin: 0 3px;
}

.linkfooter .vari:hover 
{
    color: rgb(0, 117, 227);
    text-decoration: underline;
}

.separator 
{
    width: 1px;
    background-color: #ccc;
    margin: 0 10px;
}

h3 {
    text-align: left;
    margin-bottom: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    margin-top: 30px;
    font-weight: 400;
    margin-left: 20px;
}



.art
{
    display: flex;
    width: 25%;
    height: 230px;
    align-items: center;
    flex-direction: column;
}

.containerart
{
    display: flex;
    padding-bottom: 40px;
    height: 311px;
    align-items: center;
    flex-direction: column;
}

.prodotti_primopiano{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 683px;
    justify-content: space-between;
}

.prodotti_primopiano1{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.prodotti_primopiano2 {
    display: flex;
 
    justify-content: space-between;
    width: 100%;
  
}


.like {
    width: 20px;
    height: 20px;
    right: 0;
    z-index: 1;
    padding-top:-10px ;
    cursor: pointer;
}


.prodotti_primopiano a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.cuoreprod
{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}


.immagineprod {

    display: block;
    margin-bottom: 15px; 
}


.testi-container {
    flex-grow: 1; 
    margin-bottom: 15px; 
}


.scrittaprod, .scrittaprod2 {
    text-align: center;
    margin-bottom: 8px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;

}


.acquistorapido {
    text-align: center;
    padding: 12px 0; 
    background-color: white;
    color: rgb(0, 117, 227);
    border: solid rgb(0, 117, 227) ;
    margin: auto;
    border-radius: 40px;
    font-weight: 600;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}



.scrittaart
{
    justify-content: center;
    width: 60%;
    margin: 20px;
}
.acquistorapido:hover {
    background-color: rgb(0, 117, 227);
    color: white;
}

.prodotti_primopiano .scrittaprod:hover
{
    color: rgb(0, 117, 227);
}

.hidden {
    display: none;
  }
  
  .input-cerca {
    border: none;
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    width: 100px;
    outline: none;
    margin-left: 8px;
  }
  
  .chiudi-cerca {
    font-weight: bold;
    cursor: pointer;
    margin-left: 8px;
  }
  
 #info .img{
    width: 180px;
    height: auto;
    border-radius: 10px;
}

#generazione
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.nomepers
{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
    font-family: 'Montserrat', sans-serif;
}

#pulsante
{
    text-align: center;
    color: white;
    background-color: rgb(0, 117, 227);
    border: solid rgb(0, 117, 227) ;
    margin-top: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 40px;
    font-weight: 600;
    width: 15%;
    font-family: 'Montserrat', sans-serif;
}

#pulsante:hover
{
    background-color: white;
    color: rgb(0, 117, 227);
    border: solid rgb(0, 117, 227);
}


.datifeste
{
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.festivita
{
    padding-right: 5px;
}

.datafesta
{
    font-style: oblique;
}

#closingdays
{
    padding-top: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

#scrittadate
{
    text-align: center;
    color: rgb(0, 117, 227);
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin: 10px;
}

#infodate
{
    color: #333;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}